#page-home {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 80vw;
  margin-top: 10px;
  background-color: var(--color-form);
  padding: 1rem;
  border-radius: 0.9rem;
}
#page-form {
  flex-grow: 0.1;
}

#page-result {
  flex-grow: 9;
  padding-right: 20px;
}

#footer {
  flex-basis: 100%;
  height: 2rem;
  margin-top: 10px;
  text-align: center;
}

#footer a{
  text-decoration: none;
  color: var(--color-secundary-lighter);
}

#footer a:hover{
  text-decoration: none;
  color: var(--color-secundary);
}


#fulltextarea {
  height: 86rem;
}

#page-form main fieldset legend {
  font: 700 2.4rem Archivo;
  color: var(--color-text-title);
  margin-bottom: 2.4rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding-bottom: 1.6rem;
  border-bottom: 1px solid var(--color-line-in-white);
}

#page-form main fieldset {
  border: 0;
  padding: 0 2.4rem;
}

#page-form main footer button {
  width: 100%;
  height: 5.6rem;
  background: var(--color-secundary);
  color: var(--color-button-text);
  border: 0;
  border-radius: 0.8rem;
  cursor: pointer;
  font: 700 1.6rem Archivo;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  transition: background-color 0.2s;
  margin-top: 3.2rem;
}

#page-form main footer button:hover {
  background: var(--color-secundary-dark);
}

#page-result button {
  width: 100%;
  height: 5.6rem;
  background: #0a8a59;
  color: var(--color-button-text);
  border: 0;
  border-radius: 0.8rem;
  cursor: pointer;
  font: 700 1.6rem Archivo;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  transition: background-color 0.2s;
  margin-top: 3.2rem;
}

#page-result button:hover {
  background: #077048;
}

button[disabled="disabled"],
button:disabled {
  cursor: not-allowed !important;
  background: #ccccc2 !important; 
}
